<div style="width: 750px; margin-top: 0px !important;">
	<table style="width: 750px; margin-top: 0px !important;">
		<tr>
			<td style="font-size: 18px; text-decoration: underline; width:230px; text-align: center;">$formatData.get(2)</td>
			<td style="font-size: 22px; text-decoration: underline; width:290px; text-align: center;">
				महाराष्ट्र $formatData.get(3)
			</td>	
			<td style="font-size: 18px; text-decoration: underline; width:230px; text-align: center;">
				$formatData.get(4)
			</td>
		</tr>		
		<tr>
			<td style="width: 750px; text-align: right; font-size: 12px;" colspan="3">
				<!--<span style="font-weight: bold; font-size: 17px;">प्रपत्र क्रमांक :</span><br />
				दिनांक : $formatData.get(5) <br />	-->		
				निर्वाचन क्षेत्र: $formatData.get(6)
			</td>
		</tr>
	</table>
	
	<table>
		<tr style="font-weight: bold;">
			<td style="font-size: 17px; word-wrap: break-word; width: 250px; padding-left: 5px;">
				सदस्यांचे नाव
			</td>
			<td colspan="4" style="font-size: 17px; word-wrap: break-word; width: 500px; padding-left: 5px;text-align:justify;">
				<!--$memberName<br />--> $formatData.get(7)
			</td>
		</tr>
		<tr style="font-weight: bold;">													
			<td style="font-size: 17px; word-wrap: break-word; width: 250px; padding-left: 5px;">					
				प्रश्न क्रमांक
			</td>
			<td style="font-size: 17px; word-wrap: break-word; width: 250px; padding-left: 5px;">
				$formatData.get(0)
			</td>
			<td style="font-size: 17px; word-wrap: break-word; width: 500px; padding-left: 5px;">					
				गट क्रमांक 
			</td>
			<td style="font-size: 17px; word-wrap: break-word; width: 500px; padding-left: 5px;">
				#if($formatData.get(8))
					$formatData.get(8)
				#else
					-
				#end
				 &nbsp;&nbsp;&nbsp;&nbsp;(
				#if($formatData.get(10))
					$formatData.get(10)
				#else
					-
				#end  
				 )
			</td>
		</tr>
		<tr>
			<td style="font-weight: bold; width: 250px; font-size: 17px; word-wrap: break-word; padding-left: 5px;">
				विषय 
			</td>
			<td colspan="4" style="font-weight: bold; text-decoration: underline; width: 500px; font-size: 17px; word-wrap: break-word; padding-left: 5px;">
				$formatData.get(12)
			</td>
		</tr>
		<br>
		#if($formatData.get(1)=='questions_starred' || $formatData.get(1)=='questions_unstarred' || $formatData.get(1)=='questions_shortnotice')
			<tr>
				<td colspan="5" style="width: 750px; font-size: 17px; word-wrap: break-word; padding-left: 5px;text-align: justify;">
					$formatData.get(13)
				</td>
			</tr>
		#elseif($formatData.get(1)=='questions_halfhourdiscussion_from_question')
			<tr>
				<td colspan="4" style="width: 750px; font-size: 17px; word-wrap: break-word; padding-left: 5px;">
					$formatData.get(13)
				</td>
			</tr>
			<tr>
				<td colspan="4" style="width: 750px; font-size: 17px; word-wrap: break-word; padding-left: 5px;">
					$formatData.get(15)
				</td>
			</tr>		
		#end
		<br>
		#if($formatData.get(1)=='questions_shortnotice')
			<tr>
				<td style="font-weight: bold; width: 250px; font-size: 17px; word-wrap: break-word; padding-left: 5px;">
					अल्पसूचनेने विचारण्याची कारणे
				</td>
				<td colspan="3" style="width: 500px; font-size: 17px; word-wrap: break-word; padding-left: 5px;">
					$formatData.get(15)
				</td>
			</tr>
		#elseif($formatData.get(1)=='questions_halfhourdiscussion_from_question')
			<tr>
				<!--<td style="font-weight: bold; width: 250px; font-size: 17px; word-wrap: break-word; padding-left: 5px;">
					उपस्थित करण्याचे मुद्दे
				</td>-->
				<td colspan="4" style="width: 500px; font-size: 17px; word-wrap: break-word; padding-left: 5px;">
					$formatData.get(16)
				</td>
			</tr>		
		#end		
	</table>
</div>
<span class='page-break-before-forced'>&nbsp;</span>
<hr>