<table style="width: 800px;">
	<tr>
		<td style="width: 600px; text-align: center;" colspan="2">
			<span style="font-size: 20px; text-decoration: underline;">
				महाराष्ट्र विधानसभा
			</span>	
			<br/><br />
			<span style="font-size: 13px;">
				$fullSessionName<br />
				$deviceName
			</span>
		</td>
	</tr>
	<tr>
		<td style="width: 560px;">&nbsp;</td>
		<td style="width: 240px;">
			<span style="font-weight: bold; font-size: 14px;">प्रपत्र क्रमांक :</span><br />
			दिनांक : $currentDate <br />
			निर्वाचन क्षेत्र: $primaryMemConstituency		
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>	
	<tr>
		<td colspan="2" style="font-size: 14px; word-wrap: break-word;">
					<span style="margin-left: 80px; width: 100%;">$memberName, वि. स. स.</span><br />
				<span style="margin-left: 40px;">प्रति</span><br />
					<span style="margin-left: 50px;">प्रधान सचिव,</span><br />
					<span style="margin-left: 50px;">महाराष्ट्र विधानसभा,</span><br />
					<span style="margin-left: 50px;">विधान भवन, मुंबई ४०० ०३२.</span><br /><br />
				
				<span style="margin-left: 40px;">महोदय,</span><br /><br />
				
					<span style="margin-left: 50px;">महाराष्ट्र विधानसभा नियमातील नियम ७२ (१) व नियम ७४ आणि ७५ अन्वये, मी, खालील तारांकित प्रश्नाची
				सूचना देत आहे.</span><br />
				<span style="margin-left: 40px;">हा प्रश्न दिनांक $answeringDate, $support ला उत्तराकरिता ठेवण्यात यावा. <br />
				<span style="margin-left: 40px;">या प्रश्नाला क्रमांक $priority चे प्राथम्य द्यावे;</span><br /><br />
														
														<span style="margin-left: 600px;">आपला,</span>
														<br /><br /><br />													
														<span style="margin-left: 600px;">सदस्य,</span><br />
													   <span style="margin-left: 571px;">महाराष्ट्र विधानसभा.</span><br /><br />				
				<span style="max-width: 800px;">									
					<span style="margin-left: 40px;">विषय : $subject</span><br /><br />
					
												<span style="margin-left: 560px;">*प्रश्न क्रमांक $deviceNumber गट क्रमांक $groupNumber</span>
												<br /><br/><br/>
												<span style="margin-left: 560px;">श्री. ......................., वि. स. स.</span><br />
					<span style="margin-left: 40px;">सन्मानीय $ministry, पुढील गोष्टींचा खुलासा करतील काय :-</span><br /><br />
				
								
					<div style="margin-left: 40px;">$details</div>
				</span>
				<br/><br/>
				<span style="margin-left: 60px;">$principalSec</span><br />
				<span style="margin-left: 65px;">प्रधान सचिव</span>
		</td>
	</tr>
</table>