<div id="reportHeader" style="width: 100%;">
	<div id="headerText" style="display:block; text-align:center;">
		<span style="font-size: 22px; text-decoration: underline;">
			विधानपरिषद तारांकित प्रश्न
		</span>		
		<br/>
		<span style="font-size: 16px; border-bottom: 2px solid black;">
			गट क्रमांक $groupNumber उत्तराचा दिनांक: $answeringDate स्वीकृत प्रश्न प्रश्न विभागाकडे पाठविण्याचा दिनांक: $deptSendDate
		</span>
	</div>
</div>
<div id="reportContent" style="width: 100%; font-size: 16px;">
	<div style="text-align: justify;">
				<br />
				<span style="margin-left: 50px;">कृपया</span> पृष्ट क्रमांक १ वरील $memberName व इतर वि. स. स.
		यांचा तारांकित प्रश्न $deviceNumber तसेच पृष्ठ क्रमांक ___________ वरील श्री. / श्रीमती __________________	व इतर वि. स. स. यांचा / यांचे 
		ता. र. करा. ___________ पाहावा / पाहावेत.
		<br>
				<span style="margin-left: 50px;">प्रश्नोक्त</span> विषयावर गत सत्रात तारांकित / अतारांकित प्रश्न क्रमांक __________ 
		दिनांक ___________ रोजी उत्तरीत झाला असून विषयाचा पाठपुरावा करण्यासाठी या सत्रात प्रश्न विचारण्यात आला आहे.
		सबब विषय पर्याप्त सार्वजनिक महत्त्वाचा आहे.
		
		<br/><br/><br/>
		<table>
			#foreach($r in $actors)
				<tr class="page-break">
					<td style="width: 180px; padding: 10px;">$r.name</td>
					<td style="width: 520px; padding: 10px;">$r.value</td>
					<td style="width: 100px; padding: 10px;">&nbsp;</td>
				</tr>
			#end
		</table>	
		
		<br />
		<br />
		<span style="margin-left: 560px;">मा. सभापती</span>	
	</div>	
</div>