<div id="reportHeader" style="width: 100%;">
	<div id="headerText" style="display:block; text-align:center;">
		<span style="font-size: 20px; text-decoration: underline;">
			विधानसभा तारांकित प्रश्न
		</span>		
		<br/>
		<span style="font-size: 13px; border-bottom: 2px solid black;">
			गट क्रमांक $groupNumber उत्तराचा दिनांक: $answeringDate स्वीकृत प्रश्न प्रश्न विभागाकडे पाठविण्याचा दिनांक: $deptSendDate
		</span>
	</div>
</div>
<div id="reportContent" style="width: 100%; font-size: 13px;">
	<div style="text-align: justify;">
				कृपया पृष्ट क्रमांक १ वरील $memberName व इतर वि. स. स.
		यांचा तारांकित प्रश्न $deviceNumber तसेच पृष्ठ क्रमांक ___________ वरील <br />
		श्री. / श्रीमती __________________	व इतर वि. स. स. यांचा / यांचे  <br />
		ता. र. करा. ___________ पाहावा / पाहावेत.
		
				प्रश्नोक्त विषयावर गत सत्रात तारांकित / अतारांकित प्रश्न क्रमांक __________ 
		दिनांक ___________ रोजी उत्तरीत झाला असून विषयाचा पाठपुरावा करण्यासाठी या सत्रात प्रश्न विचारण्यात आला आहे.
		सबब विषय पर्याप्त सार्वजनिक महत्त्वाचा आहे.
		
		<table>
			#foreach($r in $actors)
				<tr>
					<td>$r</td>
					<td>$r</td>
					<td>$r</td>
				</tr>
			#end
		</table>		
	</div>	
</div>