body{
	background: #ffffff;
}
		
.border{
		border: 1px solid #bdd2ff;
		background-color: #bdd2ff;
	}

.display-hidden{	
				display:hidden;
			}

.task{
	  padding: 15px;
	  text-align:center;
	  border-radius:25px;	
	}
		
.headerblock{	
			padding: 10px 15px;	
			height: 115px;
			line-height: 1;
			font-weight: bold;
			text-align: center;
			font-size: 25px;
		    font-family:kokila;
 			border-radius: 10px 10px 0 0; 
		}
  					
.dashboard-background{	 
					background-color: #6E6E6E;
					border-color: #6E6E6E; 
					color: #fff;	
				}
							 					
.total-task{	
			text-align: center;
			font-weight: bold;
			font-size: 20px;	
		}
	
.panel-default{	
			   border-radius:10px;
			   background-color:#dddddd;	
			} 
	
.margin-top{ 
			margin-top:10px; 
		}
	
.border-bottom{ 
			  border-bottom:1px solid black; 
			}
	
.pending-background{	
					background-color: #2E6E8C;
					border-color: #2E6E8C;
					color: #fff;	
				}
	
.fs-20{	
	   font-size:20px;	
	}
	
 .zoom{
       transition: transform .2s; /* Animation */
	}

.zoom:hover {
    		transform: scale(1.5);
		}
	
 .sub-zoom {
   		    transition: transform .2s; /* Animation */
		}

.sub-zoom:hover {
     			transform: scale(1.2);
			}
.sabha-background{
				 background-color:#4CA636;	
			}
	
.parishad-background{
					background-color:#CB1818;	
				}
	
.text-color{
			color: #ffffff;	
		}

.device-tasks{
			padding: 10px;
			font-size: 15px;
			text-align: center;
			font-family:kokila;
			font-size:20px;
		}

.table-headers{
			  background: #7266ba;;
			  color: #ffffff;
			  border:1px solid #000000;
			  font-family:kokila;
			  font-size:20px;
			}

.devicetable{
			margin: 10px auto;
		}

.devicetable tr:nth-child(odd){
							  background:   #dedce8;
							}

.devicetable tr:nth-child(even){
								background:   #bbb3e5;
							}

.device-name{
			margin-left: 80px;
			color: #bd200d;
			font-family:kokila;
			font-size:30px;
		}

.device-title{
			 color: #667292;
		 }
	