.page_navigation , .alt_page_navigation{
	padding-bottom: 30px;
}

.page_navigation a, .alt_page_navigation a{
	padding:3px 5px;
	margin:2px;
	color:white;
	text-decoration:none;
	float: left;
	font-family: Tahoma;
	font-size: 12px;
	background: -moz-linear-gradient(center top , #00ADEE, #0078A5) repeat scroll 0 0 transparent;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
