@media only print
{    
    div#pannelDash {
    	visibility: hidden;
    }
    
    div#container {
    	visibility: hidden;
    }
    
    div#rotationOrderReport{
		visibility: visible !important;
		position: absolute !important;
		left: 0px;
		top: 5px;
	}
	
	div#rotationOrderReport table{
		font-size: 16px;
		page: auto;
	}
}