महाराष्ट्र 
#if($houseType=='lowerhouse')
	विधानसभेच्या
#elseif($houseType=='upperhouse')
	विधानपरिषदेच्या
#end
 सन $sessionYear मधील $sessionCountName ($sessionTypeName) अधिवेशनात उत्तरीत होणाऱ्या $questionTypeName सूचनांपैकी $questionSubmissionDate रोजी 
##if($dayTime=='0')
##	सकाळी 
##elseif($dayTime=='1')
##	दुपारी 
##end
दुपारी ११.०० ते संध्याकाळी ०५.०० या वेळेत घेण्यात आलेल्या प्रश्न सूचनांचा तपशील