<div id="deviceContent">
	#if($isReplyRequired==true)
		<div>
			$motionPrimaryMember,$supportingMember 
			#if($houseType=='lowerhouse')
				 वि.स.स. यांनी महाराष्ट्र विधानसभा नियम १०१ अनुसार दिलेली लक्षवेधी सूचना क्र. $motionNumber पुढील प्रमाणे आहे.
			#else
				वि प.स. यांनी महाराष्ट्र विधानपरिषद नियम १०१ अनुसार दिलेली लक्षवेधी सूचना क्र. $motionNumber पुढील प्रमाणे आहे.
			#end
			
		</div>
		<div>$motionSubject</div>
		<div>$motionDetails</div>
		#if($motionReply!='')
			#if($minister!='')
				<div><b> मा. $minister यांचे निवदन</b> </div>
			#end
			<div>$motionReply</div>
		#else
			<div style="text-align:center"><b>निवेदन आले नाही</b></div>
		#end
	#else
		<div>$motionSubject</div>
		<div>$motionDetails</div>
	#end
</div>
<div id="dId">
	$motionId
</div>