<div id='deviceContent'>
	<div style="text-align:center"><b>$questionSubject</b></div>
	<div><b> * $questionNumber       
	#if($supportingMember!='' && $supportingMember)
		$supportingMember
	#end
	</b>: $questionText
	</div>
	#if($minister!='')
	<div>
		#if($answer!='' && $answer)
			$minister : $answer
		#else
			<div style="text-align:center"><b>(उत्तर आले नाही )</b></div>
		#end	
	</div>
	#else
		#if($answer!='' &&  $answer)
			$answer
		#else
		  <b>(उत्तर आले नाही)</b>
		#end
	#end
</div>
<div id="dId">
	$questionId
</div>