<div id='deviceContent'>
	<p style="text-align:center"><b>$questionSubject</b></p>
	<p><b> * $questionNumber       $questionPrimaryMember 
	#if($supportingMember!='')
		$supportingMember
	#end
	</b>: $questionText
	</p>
	#if($minister!='')
	<p>
		#if($answer!='')
			$minister : $answer
		#else
			<div style="text-align:center"><b>(उत्तर आले नाही )</b></div>
		#end	
	</p>
	#else
		#if($answer!='')
			$answer
		#else
		  <b>(उत्तर आले नाही)</b>
		#end
	#end
</div>
<div id="dId">
	$questionId
</div>