<div>
	<table style="width: 800px; margin-top: 10px;">
		<tr>
			<td style="width: 600px; text-align: center;" colspan="2">
				<span style="font-size: 22px; text-decoration: underline;">
					महाराष्ट्र विधानपरिषद
				</span>	
				<br/><br />
				<span style="font-size: 16px;">
					$fullSessionName<br />
					$deviceName
				</span>
			</td>
		</tr>
		<tr>
			<td style="width: 520px; height: 12px;">&nbsp;</td>
			<td style="width: 280px;">
				<span style="font-weight: bold; font-size: 16px;">प्रपत्र क्रमांक :</span><br />
				दिनांक : $currentDate <br />
				निर्वाचन क्षेत्र: $primaryMemConstituency		
			</td>
		</tr>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>	
		<tr>
			<td colspan="2" style="font-size: 16px; word-wrap: break-word;">
						<span style="margin-left: 80px; width: 100%;">$memberName, $support वि. स. स.</span><br />
					<span style="margin-left: 40px;">प्रति</span><br />
						<span style="margin-left: 50px;">प्रधान सचिव,</span><br />
						<span style="margin-left: 50px;">महाराष्ट्र विधानपरिषद,</span><br />
						<span style="margin-left: 50px;">विधान भवन, मुंबई ४०० ०३२.</span><br /><br />
					
					<span style="margin-left: 40px;">महोदय,</span><br />				
						<span style="margin-left: 50px;">महाराष्ट्र विधानपरिषद नियमातील नियम ७२ (१) व नियम ७४ आणि ७५ अन्वये, मी, खालील तारांकित प्रश्नाची
					सूचना देत आहे.</span><br />
					<span style="margin-left: 40px;">हा प्रश्न दिनांक $answeringDate, $support ला उत्तराकरिता ठेवण्यात यावा. या प्रश्नाला क्रमांक $priority चे प्राथम्य द्यावे;</span><br />														
															<span style="margin-left: 600px;">आपला,</span>
															<br /><br /><br />													
															<span style="margin-left: 600px;">सदस्य,</span><br />
														   <span style="margin-left: 569px;">महाराष्ट्र विधानपरिषद.</span><br /><br />				
					<span style="max-width: 800px;">									
						<span style="margin-left: 40px;">विषय : $subject</span><br />
						
													<span style="margin-left: 555px;">*प्रश्न क्रमांक $deviceNumber गट क्रमांक $groupNumber</span>
													<br /><br/>
													<span style="margin-left: 555px;">श्री. ......................., वि. स. स.</span><br />
						<span style="margin-left: 40px;">सन्मानीय $ministry, पुढील गोष्टींचा खुलासा करतील काय :-</span><br />
					
									
						<div style="margin-left: 40px;">$details</div>
					</span>
					<br/><br/>
					<span style="margin-left: 60px;">$principalSec</span><br />
					<span style="margin-left: 65px;">प्रधान सचिव</span>
			</td>
		</tr>
	</table>
</div>
<span class='page-break-before-forced'><hr></span>
<div>
	<div class="loupHead" style="width: 100%;">
		<div id="headerText" style="display:block; text-align:center;">
			<span style="font-size: 22px; text-decoration: underline;">
				विधानपरिषद तारांकित प्रश्न
			</span>		
			<br/>
			<span style="font-size: 16px; border-bottom: 2px solid black;">
				गट क्रमांक $groupNumber उत्तराचा दिनांक: $answeringDate स्वीकृत प्रश्न प्रश्न विभागाकडे पाठविण्याचा दिनांक: $deptSendDate
			</span>
		</div>
	</div>
	<div class="loupContent" style="width: 100%; font-size: 16px;">
		<div style="text-align: justify;">
					<br />
					<span style="margin-left: 50px;">कृपया</span> पृष्ट क्रमांक १ वरील $memberName व इतर वि. स. स.
			यांचा तारांकित प्रश्न $deviceNumber तसेच पृष्ठ क्रमांक ___________ वरील श्री. / श्रीमती __________________	व इतर वि. स. स. यांचा / यांचे 
			ता. र. करा. ___________ पाहावा / पाहावेत.
			<br>
					<span style="margin-left: 50px;">प्रश्नोक्त</span> विषयावर गत सत्रात तारांकित / अतारांकित प्रश्न क्रमांक __________ 
			दिनांक ___________ रोजी उत्तरीत झाला असून विषयाचा पाठपुरावा करण्यासाठी या सत्रात प्रश्न विचारण्यात आला आहे.
			सबब विषय पर्याप्त सार्वजनिक महत्त्वाचा आहे.
			
			<br/><br/><br/>
			<table>
				#foreach($r in $actors)
					<tr class="page-break">
						<td style="width: 100px; padding: 5px;">$r.name</td>
						<td style="width: 100px; padding: 5px;">$r.formattedNumber</td>
						<td style="width: 520px; padding: 5px;">$r.value</td>
						<td style="width: 80px; padding: 5px;">&nbsp;</td>
					</tr>
				#end
			</table>				
			<br />
			<br />
			<span style="margin-left: 560px;">मा. सभापती</span>	
			<br>
			<hr>
		</div>	
	</div>
</div>
<span class='page-break-before-forced'>&nbsp;</span>