<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>e-Legislature</display-name>
	<!-- The definition of the Root Spring Container shared by all Servlets 
		and Filters -->
	<env-entry>
		<env-entry-name>spring.profiles.active</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>dev</env-entry-value>
	</env-entry>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/root-context.xml</param-value>
	</context-param>

	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>

	<!-- Sets the session timeout in minutes. Set it to -1 if the session should never expire. -->
	<session-config>
		<session-timeout>180</session-timeout>
	</session-config>
	
	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
	    <description>AtmosphereServlet</description>
	    <servlet-name>AtmosphereServlet</servlet-name>
	    <servlet-class>org.atmosphere.cpr.AtmosphereServlet</servlet-class>
	    <!-- <init-param>
	      <param-name>org.atmosphere.useNative</param-name>
	      <param-value>true</param-value>
	    </init-param>
	    <init-param>
	      <param-name>org.atmosphere.useWebSocketAndServlet3</param-name>
	      <param-value>true</param-value>
	    </init-param> -->
	    <!-- <init-param>
	      <param-name>org.atmosphere.cpr.asyncSupport</param-name>
	      <param-value>org.atmosphere.container.JSR356AsyncSupport</param-value>
	    </init-param> -->
	    <init-param>
	      <param-name>org.atmosphere.cpr.packages</param-name>
	      <param-value>org.mkcl.els.atmosphere</param-value>
	    </init-param>
	    <init-param>
	      <param-name>org.atmosphere.interceptor.HeartbeatInterceptor.clientHeartbeatFrequencyInSeconds</param-name>
	      <param-value>60</param-value>
	    </init-param>
	    <load-on-startup>1</load-on-startup>
	    <!-- <async-supported>true</async-supported> -->
	</servlet>
	<servlet-mapping>
	  <servlet-name>AtmosphereServlet</servlet-name>
	  <url-pattern>/push_message/*</url-pattern>
	</servlet-mapping>
	<!-- <servlet-mapping>
	  <servlet-name>AtmosphereServlet</servlet-name>
	  <url-pattern>/chat/*</url-pattern>
	</servlet-mapping> -->

	<servlet>
		<servlet-name>default</servlet-name>
		<servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>listings</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>


	<servlet>
		<servlet-name>fileupload</servlet-name>
		<servlet-class>org.mkcl.els.common.interceptor.FileUpload</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fileupload</servlet-name>
		<url-pattern>/fileupload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.css</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.js</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.swf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.png</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.jpeg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.jpg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.woff2</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>SetCharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	
	<servlet>
		<servlet-name>CaptchaServlet</servlet-name>
		<servlet-class>org.mkcl.els.common.captcha.CaptchaGenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CaptchaServlet</servlet-name>
		<url-pattern>/captcha.jpg</url-pattern>
	</servlet-mapping>
	
	<filter-mapping>
		<filter-name>SetCharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>    	
    	<display-name>CaptchaFilter</display-name>
    	<filter-name>CaptchaFilter</filter-name>
    	<filter-class>org.mkcl.els.common.filter.CaptchaFilter</filter-class>
    </filter>
    <filter-mapping>
    	<filter-name>CaptchaFilter</filter-name>    	
    	<url-pattern>/j_spring_security_check</url-pattern>
    </filter-mapping>
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>httpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>httpMethodFilter</filter-name>
		<servlet-name>appServlet</servlet-name>
	</filter-mapping>
	<filter>
		<filter-name>jpaFilter</filter-name>
		<filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>jpaFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>xssFilter</filter-name>
		<filter-class>org.mkcl.els.common.filter.XSSFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>xssFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>clickJackingFilter</filter-name>
		<filter-class>org.mkcl.els.common.filter.ClickJackingFilter</filter-class>
		<init-param>
			<param-name>mode</param-name>
			<param-value>SAMEORIGIN</param-value>
		</init-param>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>CORSFilter</display-name>
		<filter-name>CORSFilter</filter-name>
		<filter-class>org.mkcl.els.common.filter.CORSFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CORSFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> 
	<filter-mapping>
		<filter-name>clickJackingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<error-page>	 
       <error-code>403</error-code>  
       <location>/WEB-INF/views/errors/general-error.jsp</location>  
   </error-page>
	<error-page>  
       <error-code>404</error-code>  
       <location>/WEB-INF/views/errors/general-error.jsp</location>  
   </error-page>
   <error-page>  
       <error-code>500</error-code>  
       <location>/WEB-INF/views/errors/general-error.jsp</location>  
   </error-page>
   
   <mime-mapping>
    <extension>woff2</extension>
    <mime-type>application/x-font-woff2</mime-type>
  </mime-mapping>
</web-app>
