#if($billDeviceType=='bills_government')
	#set($designation = "मंत्री")
#elseif($billDeviceType=='bills_nonofficial')
	#set($designation = "सदस्य")
#end
﻿<h3 align="center">विधेयक मांडण्याबाबत कार्यपध्दती</h3>
<br/>
<table width="600" border="0" align="center">
	<tr>
		<td  valign="top" width="10%">
			प्रभारी $designation			
		</td>
		<td valign="top" width="2%">:</td>
		<td  valign="top">
			महोदय, सन $billYear चे विधानसभा विधेयक क्रमांक $billNumber, $billTitle मांडण्यास मला सभागृहाची अनुमती मिळावी.<br/><br/>
			(प्रभारी सदस्यांना थोडक्यात स्पष्टीकरणात्मक निवेदन करता येईल)
		</td>
	</tr>	
	
	<tr><td colspan="3">&nbsp;</td></tr>	
	
	<tr>
		<td  valign="top" width="10%">
			<b>अध्यक्ष</b>
		</td>
		<td valign="top" width="2%">:</td>
		<td  valign="top">
			<b>प्रस्ताव असा आहे की, सन $billYear चे विधानसभा विधेयक क्रमांक $billNumber, $billTitle मांडण्यास अनुमती देण्यात यावी.</b><br/><br/>
			(प्रस्तावास विरोध करण्यात आला तर विरोध करणाऱ्या सदस्यांस थोडक्यात स्पष्टीकरणात्मक निवेदन करण्याची 
			व प्रस्ताव मांडणाऱ्या सदस्यांस उत्तर देण्याची अध्यक्ष परवानगी देऊ शकतील व त्यानंतर आणखी अभिचर्चेविना ते त्यावरील प्रश्न (विचारतील) मांडतील).<br/>
			सभागृहाच्‍या वैधानिक क्षमतेबाहेरील विषयासंबंधात, विधेयकाद्वारा कायदा करण्‍यात येत आहे या कारणास्‍तव प्रस्‍तावास विरोध करण्‍यात आल्‍यास, अध्‍यक्ष प्रस्‍तावावर संपूर्ण चर्चा करण्‍याची परवानगी देऊ शकतील.
		</td>
	</tr>	
	
	<tr><td colspan="3">&nbsp;</td></tr>
	
	<tr>
		<td  valign="top" width="10%">
			<b>अध्यक्ष</b>
		</td>
		<td valign="top" width="2%">:</td>
		<td  valign="top">
			<b>प्रश्‍न असा आहे की, सन $billYear चे विधानसभा विधेयक क्रमांक $billNumber, $billTitle मांडण्यास सभागृहाची अनुमती आहे काय? 
			अनुकूल असतील त्यांनी "होय" म्हनणावे, (थोडे थांबून) प्रतिकूल असतील त्यांनी, "नाही" म्हणावे (थोडे थांबून) "होय" चे बहुमत आहे, "होय" चे बहुमत आहे, प्रस्ताव संमत झाला.</b>
		</td>
	</tr>
	
	<tr><td colspan="3">&nbsp;</td></tr>
	
	<tr>
		<td  valign="top" width="10%">
			प्रभारी $designation
		</td>
		<td valign="top" width="2%">:</td>
		<td  valign="top">
			महोदय, मी आपल्या अनुमतीने सन $billYear चे विधानसभा विधेयक क्रमांक $billNumber, $billTitle मांडतो.			
		</td>
	</tr>
	
	<tr><td colspan="3">&nbsp;</td></tr>
	
	<tr>
		<td  valign="top" width="10%">
			<b>अध्यक्ष</b>
		</td>
		<td valign="top" width="2%">:</td>
		<td  valign="top">
			<b>सन $billYear चे विधानसभा विधेयक क्रमांक $billNumber, $billTitle मांडण्या‍त आले.</b>
		</td>
	</tr>
</table>
<p>
	*या विधेयकास भारत संविधानाच्याट अनुच्छेद 207(1) किंवा 207(3) प्रमाणे किंवा दोन्हीप्रमाणे राज्यपालांची शिफारस 
	किंवा अनुच्छेद 304 (ब) प्रमाणे राष्ट्रपतींची पूर्वसंमती आवश्यक असेल तर प्रभारी सदस्यांनी विधेयक मांडतेवेळी वस्तुस्थितीनुसार, 
	राज्य्पालांनी शिफारस केलेली आहे किंवा राष्ट्रपतींनी ते मांडण्यासाठी पूर्वीच मान्यता दिलेली आहे असे प्रगट करावे.
</p>