#if($billDeviceType=='bills_government')
	#set($designation = "मंत्री")
#elseif($billDeviceType=='bills_nonofficial')
	#set($designation = "सदस्य")
#end
<h3 align="center">विधेयक विचारात घेणे</h3>
<br/>
<table width="600" border="0" align="center">
	<tr>
		<td  valign="top" width="10%">
			प्रभारी $designation
		</td>
		<td valign="top" width="2%">:</td>
		<td  valign="top">
			महोदय, सन $billYear चे विधानसभा विधेयक क्रमांक $billNumber, $billTitle विचारात घेण्यात यावे असा मी आपल्या अनुमतीने प्रस्ताव मांडतो.<br/><br/>
			<span style="align: center;font-weight: bold;">(सदस्यांचे भाषण)</span>
		</td>
	</tr>	
	
	<tr><td colspan="3">&nbsp;</td></tr>	
	
	<tr>
		<td  valign="top" width="10%">
			<b>अध्यक्ष</b>
		</td>
		<td valign="top" width="2%">:</td>
		<td  valign="top">
			<b>प्रस्ताव असा आहे की, सन $billYear चे विधानसभा विधेयक क्रमांक $billNumber, $billTitle विचारात घेण्यात यावे.</b><br/><br/>
			(इतर सदस्य आणि मंत्री भाषणे करतात आणि प्रभारी सदस्य उत्त‍र देतात. यावेळी विधेयकाचे तत्त्वे विशद करुन सांगण्याकरिता विधेयकातील सविस्तर तरतुदींवर आवश्यतकता असेल त्यापेक्षा जास्त चर्चा करता येणार नाही.) 
		</td>
	</tr>	
	
	<tr><td colspan="3">&nbsp;</td></tr>
	
	<tr>
		<td  valign="top" width="10%">
			<b>अध्यक्ष</b>
		</td>
		<td valign="top" width="2%">:</td>
		<td  valign="top">
			<b>प्रश्न असा आहे की, सन $billYear चे विधानसभा विधेयक क्रमांक $billNumber, $billTitle विचारात घ्यावे काय ? 
			अनुकूल असतील त्यांनी 'होय' म्हणावे. (थोडे थांबून) प्रतिकूल असतील त्यांनी 'नाही' म्हणावे. (बहुसंख्य सदस्यांनी 'होय' म्हटले तर) 'होय' चे बहुमत आहे, 'होय' चे बहुमत आहे. विधेयक विचारात घेण्यात येत आहे.</b>
			(बहुसंख्य सदस्यांनी 'नाही' म्हटले तर) 'नाही' चे बहुमत आहे, 'नाही' चे बहुमत आहे. प्रस्ताव असंमत झाला.
		</td>
	</tr>	
</table>
<p>&nbsp;</p>