#if($billDeviceType=='bills_government')
	#set($designation = "मंत्री")
#elseif($billDeviceType=='bills_nonofficial')
	#set($designation = "सदस्य")
#end
﻿<h3 align="center">विधेयक खंडश: विचारात घेणे</h3>
<br/>
<table width="600" border="0" align="center">
	<tr>
		<td valign="top" width="10%">
			<b>अध्यक्ष</b>
		</td>
		<td valign="top" width="2%">:</td>
		<td  valign="top">
			<b>आता विधेयक खंडश: विचारात घेण्यात येईल.</b>
		</td>
	</tr>	
	
	<tr><td colspan="3">&nbsp;</td></tr>
	
	<tr>
		<td valign="top" width="10%">
			<b>सुधारणा नसल्यास कार्यपध्दती</b>
		</td>
		<td valign="top" width="2%">:</td>
		<td  valign="top">
			<p style="font-size: 11px;">
			(सुधारणा नसल्यास, खंड २ पासून शेवटपर्यंतचे सर्व खंड, असल्यास अनुसूची आणि खंड 1, संपूर्ण शीर्षक व हेतुवाक्य, हे सर्व पुढील क्रमाने एकाच वेळी मतास टाकण्यात येतील).
			</p>
			<p style="font-size: 18px;font-weight: bold;margin-left: 5px;">
			खंड २, खंड 1, संपूर्ण शीर्षक व हेतुवाक्य, हे विधेयकाचे भाग समजण्यात यावेत. अनुकूल असतील त्यांनी "होय" म्हणावे.
			<span style="display: inline;font-size: 12px;font-weight: normal;font-style: italic;">(थोडे थांबून)</span>
			प्रतिकूल असतील त्यांनी "नाही" म्हणावे.
			<span style="display: inline;font-size: 12px;font-weight: normal;font-style: italic;">(थोडे थांबून)</span>
			"होय" चे बहुमत आहे. खंड २, खंड १, संपूर्ण शीर्षक आणि हेतूवाक्य विधेयकाचे भाग झाले.
			</p>
		</td>
	</tr>
</table>
<p>&nbsp;</p>