<h3 align="center">विधेयक खंडश: विचारात घेणे</h3>
<br/>
<table width="600" border="0" align="center">
	<tr>
		<td  valign="top" width="10%">
			<b>अध्यक्ष</b>
		</td>
		<td valign="top" width="2%">:</td>
		<td  valign="top">
			<b>आता विधेयक खंडश: विचारात घेण्यात येईल.</b>
		</td>
	</tr>	
	
	<tr><td colspan="3">&nbsp;</td></tr>
	
	<tr>
		<td  valign="top" width="10%">
			सुधारणा नसल्यास कार्यपध्दती
		</td>
		<td valign="top" width="2%">:</td>
		<td  valign="top">
			<p style="font-size: 10px;">
			(सुधारणा नसल्यास, खंड २ पासून शेवटपर्यंतचे सर्व खंड, असल्यास अनुसूची आणि खंड 1, संपूर्ण शीर्षक व हेतुवाक्य, हे सर्व पुढील क्रमाने एकाच वेळी मतास टाकण्यात येतील).
			</p>
			<p style="font-size: 18px;">
			खंड २, खंड 1, संपूर्ण शीर्षक व हेतुवाक्य, हे विधेयकाचे भाग समजण्यात यावेत. अनुकूल असतील त्यांनी "होय" म्हणावे. प्रतिकूल असतील त्यांनी "नाही" म्हणावे. 
			"होय" चे बहुमत आहे. खंड २, खंड १, संपूर्ण शीर्षक आणि हेतूवाक्य विधेयकाचे भाग झाले.
			</p>
		</td>
	</tr>	
	
	<tr><td colspan="3">&nbsp;</td></tr>
	
	<tr>
		<td  valign="top" width="10%">
			प्रभारी सदस्य
		</td>
		<td valign="top" width="2%">:</td>
		<td  valign="top">
			महोदय, सन $billYear चे विधानसभा विधेयक क्रमांक $billNumber, $billTitle विधानपरिषदेची सहमती घेऊन दोन्ही सभागृहांच्या 323 सदस्यांच्या 
			संयुक्त समितीकडे त्यावरील प्रतिवृत्त सहा महिन्यांच्या आत सादर करण्याचा अनुदेश देऊन विचारार्थ पाठविण्यात यावे असा मी आपल्या अनुमतीने प्रस्ताव मांडतो.
		</td>
	</tr>
</table>
<p>&nbsp;</p>