<h3>
		ऑनलाईन पद्धतीने आज्ञावाल्यांची प्रणाली हाताळण्याविषयी:
</h3>
<p style="margin-top: 25px;margin-left: 25px;">
	१. आपल्या वेब ब्राउझरच्या अ‍ॅड्रेस बारमध्ये <span id="websiteURL"><u>www.mls.org.in</u></span> (MLS च्या अधिकृत वेबसाईटचा पत्ता) प्रविष्ट करा.
		<br>
	   &nbsp;&nbsp;&nbsp;&nbsp;Enter केल्यावर MLS च्या वेबसाईटचे मुख्य पृष्ठ दिसून येईल.
</p>
<p style="margin-top: 25px;margin-left: 25px;">
	२. त्या पृष्ठावर उजवीकडील खालील बॉक्सवर क्लिक करा म्हणजे लॉगीन पेज ओपन होईल.
	<br>
	<img src="./resources/images/website_application_link.png" alt="opening_link" height="90" width="185" style="margin-left: 40px;margin-top: 10px;border:2px solid black;">
</p>
<p style="margin-top: 25px;margin-left: 25px;">
	३. याप्रमाणे पहिल्यांदा लॉगीन करताना आपणांस दिलेला वरील पासवर्ड त्वरित बदलावा लागेल. 
</p>
<p style="margin-top: 25px;margin-left: 25px;">
	४. आपणास या सर्व प्रक्रियेत  काही तांत्रिक अडचण निर्माण झाल्यास खालील क्रमांकांशी संपर्क करू शकता:
	<br>
	&nbsp;&nbsp;&nbsp;&nbsp;Tel: ०२२-२२९२७३९९  Extn.१९११/१९१२/१९१३,  Direct: ०२२-२२८२६५७६ (MKCL कक्ष,विधानभवन, मुंबई)
</p>
<div id="footerDiv">
<hr width="100%">
<p id="footer_paragraph">
	<!-- <span align="left">
		<b>This is computer generated letter no signature required &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @powered by MKCL</b>
	</span> -->
	<span style="float: left;">
		<b>This is computer generated letter no signature required</b>
	</span>
	<span style="float: right;margin-right: 10px;">
		<b>@powered by MKCL</b>
	</span>
</p>
</div>